
<div class='award'>
	<h3>
		Selected Award
	</h3>
	<ul >
		<li>2019 Excellent Doctoral Dissertation Award of CIE (Nov. 2019)</li>
		<li>Excellent Graduates in Beijing (Jun. 2019)</li>
		<li>Excellent Graduates of BJTU (Jun. 2019)</li>
	    <li>President Scholarship of BJTU (Apr. 2017 the greatest honor for the graduate students at BJTU)</li>
		<li>Annual Best paper of Institute of Information Science, Beijing Jiao Tong University (Jan. 2017)</li>
		<li>The Hanergy Li Jianing Scholarship (Nov. 2016 Rank 1) </li>
		<li>China National Scholarship (Oct. 2016 Rank 1)</li>
		<li>China Scholarship Council (CSC) Scholarship (Jun. 2016)</li>
		<li>Excellent Paper Award of BJTU (Jun. 2016)</li>
		<li>PhD Innovation Fund of BJTU (Dec. 2015)</li>
		<li>Miyoshi outstanding graduate student of BJTU (Nov. 2015)</li>
		<li>First-class PhD academic scholarship of BJTU (Oct. 2015)</li>
	</ul>
	<h3>
		Professional Activities
	</h3>
	
	<h4>
		<a name='tp'></a> Membership
	</h4>
	
	<ul >
	    <li>IEEE</li>
	</ul>
	
	<h4>
		<a name='tp'></a> Technical Program/Review Committee Member
	</h4>
	
	<ul >
	    <li>IEEE International Conference on Visual Communications and Image Processing (VCIP 2018)</li>
		<li>Asia Pacific Signal and Information Processing Association Annual Summit and Conference (APSIPA ASC 2018)</li>
	</ul>
	
	<h4>
		<a name='reviewer'></a> Reviewer for Journals
	</h4>
	
	<ul >
	    <li>IEEE Transactions on Image Processing</li>
		<li>IEEE Transactions on Circuits and Systems for Video Technology</li>
		<li>IEEE Transactions on Multimedia</li>
		<li>IEEE Intelligent Systems</li>
		<li>Neurocomputing</li>
		<li>Multimedia Systems</li>
		<li>EURASIP Journal on Image and Video Processing</li>
		<li>International Journal of Pattern Recognition and Artificial Intelligence</li>
	</ul>
	
	<h4>
		<a name='reviewer'></a> Reviewer for Conference
	</h4>
	<ul >
		<li>IEEE International Conference on Multimedia & Expo (ICME 2020)</li>
		<li>IEEE International Symposium on Circuits and Systems (ISCAS 2019)</li>
		<li>IEEE International Workshop on Multimedia Signal Processing (MMSP 2019)</li>
		<li>IEEE International Conference on Visual Communications and Image Processing (VCIP 2019, 2018)</li>
		<li>Asia Pacific Signal and Information Processing Association Annual Summit and Conference (APSIPA ASC 2018, 2017)</li>
	</ul>
	
</div>


