<div class='row'>
    <div class='col-xs-3'>
		<div class='photo'>
			<img src="assets/images/jianjin.JPG" alt="photo"/>
		</div>
	</div>
	<div class='col-xs-9'>
			<h3>
				Jian Jin 金鉴
			</h3>
			<p>
			 I am a Research Fellow in Prof. <a href="https://personal.ntu.edu.sg/wslin/Home.html">Weisi Lin</a>'s group in Alibaba-NTU Singapore Joint Research Institute, Nanyang Technological University (NTU), Singapore. 
			 I received my Ph.D. degree in the Institute of Information Science, Beijing Jiaotong University (BJTU), China, supervised by Prof. <a href="http://mepro.bjtu.edu.cn/zhaoyao/e_index.htm">Yao Zhao</a> and Prof. <a href="http://mepro.bjtu.edu.cn/researcherdetail.html?id=8">Chunyu Lin</a>. 
			 I was a Joint Ph.D. Student from Sep. 2016 to Sep. 2018 in the School of Engineering Science, Simon Fraser University (SFU), Canada, supervised by Prof. <a href="http://www.sfu.ca/~jiel/">Jie Liang</a>.
			 I was fortunate to work closely with Prof. <a href="https://www.ece.uw.edu/people/ming-ting-sun/">Ming-Ting Sun</a> (UW), Prof. <a href="https://www.researchgate.net/profile/Bing_Zeng">Bing Zeng</a> (UESTC), and Prof. <a href="http://www.avc2-lab.net/~eczhu/">Ce Zhu</a> (UESTC). 
			 Here is my <a href="assets/pdf/Detailed CV-JianJin.pdf">C.V.</a> and <a href="assets/pdf/个人简历_金鉴.pdf">中文简历</a>.
			</p>
			&nbsp
			<p>
			
			<h3>
			Research Interests 
			</h3> 
			Image/video/feature compression, visual perceptual modeling, visual quality assessment, 3-D scene rendering.
			</p>
			
			<h3 style="padding-top:-5px"></h3>
			
			{% if site.email %}
				 <a href="mailto: {{site.email}}"><i class="fa fa-envelope"></i> &nbsp; {{site.email}}</a>
			{% endif %}
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
			
			
	</div>
</div>
