<div class='row'>
    <div class='col-xs-3'>
		<div class='photo'>
			<img src="assets/images/Feng_Li_.jpg" alt="photo"/>
		</div>
	</div>
	<div class='col-xs-9'>
			<h3>
				Feng Li 李锋
			</h3>	
			<p style="text-align:justify;">
			 <!-- I am a Research Fellow in Prof. <a href="https://personal.ntu.edu.sg/wslin/Home.html">Weisi Lin</a>'s group in Alibaba-NTU Singapore Joint Research Institute, Nanyang Technological University (NTU), Singapore.--> 
			 I am an Associate Professor with the School of Computer Science and Information Engineering (School of Artificial Intelligence), Hefei University of Technology under Prof. <a href="https://faculty.hfut.edu.cn/wm12/zh_CN/index.htm/">Meng Wang</a>.
			 I received my Ph.D. degree in the Institute of Information Science, Beijing Jiaotong University (BJTU), China, 2022, supervised by Prof. <a href="http://faculty.bjtu.edu.cn/8181/">Huihui Bai</a>. 
			 I was a Joint Ph.D. Student from Jul. 2021 to Jul. 2022 in the School of Computer Science and Engineering, Nanyang Technological University (NTU), Singapore, supervised by Prof. <a href="https://personal.ntu.edu.sg/wslin/Home.html">Weisi Lin</a>. 
			 I was fortunate to complete my Ph.D. degree in <a href="http://mepro.bjtu.edu.cn/">Mepro</a> Led by <a href="http://faculty.bjtu.edu.cn/5900/">Yao Zhao</a> (BJTU).
			 I also was fortunate to work closely with Prof. <a href="https://rmcong.github.io/">Runmin Cong</a> (SDU).
			</p>
			&nbsp
			<p>
			
			<h3>
			Research Interests 
			</h3> 
		        Low-level computer vision including AIGC & Detection, text-to-image/video, image/video restoration, compression, and multi-modal models
			</p>
			
			<h3 style="padding-top:-5px"></h3>
			
			{% if site.email %}
				 <a href="mailto: {{site.email}}"><i class="fa fa-envelope"></i> &nbsp; {{site.email}}</a>
			{% endif %}
                        {% if site.website_google %}		
			         <a href="https://scholar.google.com/citations?user=mYfWM6oAAAAJ&hl=en&oi=ao" target="_blank"><i class="fa fa-globe"></i> &nbsp; {{site.website_google}}</a>
		        {% endif %}
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
			
			
	</div>
</div>
