<div class='row'>
    <div class='col-xs-3'>
		<div class='photo'>
			<img src="assets/images/jianjin.JPG" alt="photo"/>
		</div>
	</div>
	<div class='col-xs-9'>
			<h3>
				Jian Jin 金鉴
			</h3>
			<p>
			 I am a Research Fellow in Prof. <a href="https://www.ntu.edu.sg/home/wslin/">Weisi Lin</a>'s group in Alibaba-NTU Singapore Joint Research Institute, Nanyang Technological University (NTU). 
			 I recieved Ph.D degree from Beijing Jiaotong University (BJTU), supervised by Prof. <a href="http://mepro.bjtu.edu.cn/zhaoyao/e_index.htm">Yao Zhao</a>. 
			 I was a Joint PhD Student from Sep. 2016 to Sep. 2018 in the School of Engineering Science, Simon Fraser University (SFU), supervised by Prof. <a href="http://www.sfu.ca/~jiel/">Jie Liang</a>.
			 I was fortunate to work closely with Prof. <a href="https://www.ece.uw.edu/people/ming-ting-sun/">Ming-Ting Sun</a> (UW). Here is my <a href="assets/pdf/Detailed CV-JianJin.pdf">C.V.</a>
			</p>
			&nbsp
			<p>
			
			<h3>
			Research Interests 
			</h3> 
			2-D/3-D image and video processing, 3-D scene reconstruction, computer vision, deep learning.
			</p>
			
			<h3 style="padding-top:-5px"></h3>
			
			{% if site.email %}
				 <a href="mailto: {{site.email}}"><i class="fa fa-envelope"></i> &nbsp; {{site.email}}</a>
			{% endif %}
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
			
			
	</div>
</div>
