<div class='news'>
	<h3> News</h3>
	<ul>
		<li><i class="fa fa-flag"  color="#FF0000"
		  aria-hidden="true"></i><font size="3">We won the 2nd place on NTIRE 2024 Stereo Image Super-Resolution Challenge-Track 1 (CVPR2024). Congratulations to Rongxin.</font></li>
		<li><i class="fa fa-flag"  color="#FF0000"
		  aria-hidden="true"></i><font size="3">One TII paper and one TOMM paper are accepted.</font></li>
		<li><i class="fa fa-flag"  color="#FF0000"
		  aria-hidden="true"></i><font size="3">Two TMM papers are accepted.</font></li>
		<li><i class="fa fa-flag"  color="#FF0000"
		  aria-hidden="true"></i><font size="3">We organized a special issue "<a href="https://www.mdpi.com/journal/electronics/special_issues/N427D4UN76">Deep Learning in Multimedia and Computer Vision</a>" on Electronics.</font></li> 
		<li><i class="fa fa-flag"  color="#FF0000"
		  aria-hidden="true"></i><font size="3">One TCSVT paper is accepted.</font></li> 
		<li><i class="fa fa-flag"  color="#FF0000"
		  aria-hidden="true"></i><font size="3">One paper is accepted by CVPR 2023 and was selected as 1 of 10% highlight.</font></li> 
	</ul>
</div>
