<div class='news'>
	<h3> News</h3>
	<ul>
		<li><i class="fa fa-flag"  color="#FF0000"
		 <font size="2"> aria-hidden="true"></i>We won the 2nd place on NTIRE 2024 Stereo Image Super-Resolution Challenge-Track 1 (CVPR2024). Congratulations to Rongxin</li></font>
		<li><i class="fa fa-flag"  color="#FF0000"
		 <font size="2"> aria-hidden="true"></i>One TII paper and one TOMM paper are accepted.</li></font>
		<li><i class="fa fa-flag"  color="#FF0000"
		 <font size="2"> aria-hidden="true"></i>Two TMM papers are accepted.</li></font>
		<li><i class="fa fa-flag"  color="#FF0000"
		 <font size="2"> aria-hidden="true"></i>We organized a special issue "<a href="https://www.mdpi.com/journal/electronics/special_issues/N427D4UN76">Deep Learning in Multimedia and Computer Vision</a>" on Electronics.</li> </font>
		<li><i class="fa fa-flag"  color="#FF0000"
		 <font size="2"> aria-hidden="true"></i>One TCSVT paper is accepted.</li> </font>
		<li><i class="fa fa-flag"  color="#FF0000"
		 <font size="2"> aria-hidden="true"></i>One paper is accepted by CVPR 2023 and was selected as 1 of 10% highlight.</li> </font>
	</ul>
</div>
