<h3><a name='publications'></a> Selected Publications <font size="3"></a></font>
	<div class="paper short">
	<div class="sub-left">
	<span></span>
	<img src="assets/images/EvEnhancerV1.png" width="300" height="200">
	</div>
	<div class="sub-right">
	<div class="media">
	 <div class="media-body">
	 <p class="media-heading">
	  <strong><font size="2.5">EvEnhancer: Empowering Effectiveness, Efficiency and Generalizability for Continuous Space-Time Video Super-Resolution with Events <br /></font></strong>
	   <font size="2.5">Shuoyan Wei, <strong>Feng Li</strong>*, Shengen Tang, Yao Zhao, Huihui Bai*<br /> </font>
	   <font size="2.5">IEEE Conference on Computer Vision and Pattern Recognition (<strong>CVPR</strong>), 2025<br /></font>
	</p>
 	</div>
	</div>	
	</div>
	</div>
	
<h4>


	
