<h3>
	<a name='publications'></a> Publications  <font size=“3” (* : Corresponding, † : Equal contribution)</font>
</h3>

<h4>
	<a name='2022'></a> 2022
</h4>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Learning detail-structure alternative optimization for blind super-resolution</strong><br />
	   <strong>Feng Li*</strong>, Yixuan Wu*, Huihui Bai, Weisi Lin, Runmin Cong, Chunjie Zhang, and Yao Zhao<br />
	   IEEE Transactions on Multimedia
	   <a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=9721549">[PDF]</a>  
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>SRInpaintor: When super-resolution meets transformer for image inpainting</strong> <font color="red"(Popular Document)</font> <br />
	   Feng Li</strong>, Anqi Li, Jia Qin, Huihui Bai, Weisi Lin, Runmin Cong, and Yao Zhao<br />
	   IEEE Transactions on Computational Imaging
	   <a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=9827481">[PDF]</a>  
	</p>
  </div>
</div>

<!-- <div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Full RGB Just Noticeable Difference (JND) Modelling</strong><br />
	  <strong>Jian Jin</strong>, Dong Yu, Weisi Lin, Lili Meng, Hao Wang, Huaxiang Zhang<br />
	   Arxiv
	   <a href="https://arxiv.org/abs/2203.00629">[PDF]</a>  
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Auto-Weighted Layer Representation Based View Synthesis Distortion Estimation for 3-D Video Coding</strong><br />
	  <strong>Jian Jin</strong>, Xingxing Zhang, Lili Meng, Weisi Lin, Jie Liang, Huaxiang Zhang, Yao Zhao<br />
	   IEEE Transactions on Multimedia  (<strong>TMM</strong>), 2022<br />
	   <a href="https://arxiv.org/pdf/2201.02420.pdf">[PDF]</a> <a href="https://github.com/jianjin008/">[Dataset]</a> <a href="">[Code]</a>  
	</p>
  </div>
</div> -->


<h4>
	<a name='2021'></a> 2021
</h4>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>A New Image Codec Paradigm for Human and Machine Uses</strong><br />
	  Sien Chen, <strong>Jian Jin</strong>*, Lili Meng*, Weisi Lin, Zhuo Chen, Tsui-Shan Chang, Zhengguang Li, Huaxiang Zhang<br />
	   Arxiv
	   <a href="https://arxiv.org/pdf/2112.10071.pdf">[PDF]</a>
	</p>
  </div>
</div>


<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Just Noticeable Difference for Deep Machine Vision</strong><br />
	  <strong>Jian Jin</strong>, Xingxing Zhang, Xin Fu, Huan Zhang, Weisi Lin, Jian Lou, Yao Zhao<br />
	   IEEE Transactions on Circuits and Systems for Video Technology  (<strong>TCSVT</strong>), 2021<br />
	   <a href="https://ieeexplore.ieee.org/document/9540665">[PDF]</a>
	</p>
  </div>
</div>	

<h4>
	<a name='2020'></a> 2020
</h4>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Dually Octagonal Projection for 360 Video with Less-Distortion Introduced</strong><br />
	  Geyang Wang, Yao Zhao, Chunyu Lin, Meiqin Liu, <strong>Jian Jin</strong><br />
	   International Conference on Signal Processing  (<strong>ICSP</strong>), 2020<br />
	   <a href="https://ieeexplore.ieee.org/abstract/document/9320966">[PDF]</a>
	</p>
  </div>
</div>	

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Edge Orientation Driven Depth Super-Resolution for View Synthesis</strong><br />
	  Chao Yao, Jimin Xiao, <strong>Jian Jin</strong>, Xiaojuan Ban<br />
	   International Conference on Image and Graphics  (<strong>ICIG</strong>), 2020<br />
	   <a href="https://link.springer.com/chapter/10.1007/978-3-030-34113-8_10">[PDF]</a>
	</p>
  </div>
</div>	

<h4>
	<a name='2019'></a> 2019
</h4>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Pixel-Level View Synthesis Distortion Estimation for 3D Video Coding</strong><br />
	  <strong>Jian Jin</strong>, Jie Liang, Yao Zhao, Chunyu Lin, Chao Yao, Lili Meng<br />
	   IEEE Transactions on Circuits and Systems for Video Technology  (<strong>TCSVT</strong>), 2019<br />
           <a href="https://ieeexplore.ieee.org/abstract/document/8720214">[PDF]</a>
	</p>
  </div>
</div>	
	

<h4>
	<a name='2018'></a> 2018
</h4>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>A Depth-Bin-Based Graphical Model for Fast View Synthesis Distortion Estimation</strong><br />
	  <strong>Jian Jin</strong>, Jie Liang, Yao Zhao, Chunyu Lin, Chao Yao, Anhong Wang<br />
	   IEEE Transactions on Circuits and Systems for Video Technology  (<strong>TCSVT</strong>), 2018<br />
	   <a href="https://ieeexplore.ieee.org/document/8374888">[PDF]</a>
	</p>
  </div>
</div>

<h4>
<a name='2013'></a> 2017 and Earlier
</h4>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Region-aware 3-D warping for DIBR</strong><br />
	  <strong>Jian Jin</strong>, Anhong Wang, Yao Zhao, Chunyu Lin, and Bing Zeng<br />
	   IEEE Transactions on Multimedia  (<strong>TMM</strong>), 2016<br />
	   <a href="https://ieeexplore.ieee.org/abstract/document/7428911">[PDF]</a>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>An Accurate and Efficient Nonlinear Depth Quantization Scheme</strong><br />
	  <strong>Jian Jin</strong>, Yao Zhao, Chunyu Lin, and Anhong Wang<br />
	   Pacific Rim Conference on Multimedia  (<strong>PCM</strong>), 2015<br />
	   <a href="https://link.springer.com/chapter/10.1007/978-3-319-24078-7_39">[PDF]</a>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>A fast region-level 3D-warping method for depth-image-based rendering</strong><br />
	  <strong>Jian Jin</strong>, Anhong Wang, Yao Zhao, and Chunyu Lin<br />
	   IEEE International Workshop on Multimedia Signal Processing  (<strong>MMSP</strong>), 2015<br />
	   <a href="https://ieeexplore.ieee.org/abstract/document/7340819">[PDF]</a>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Scalable coding of depth images with synthesis-guided edge detection</strong><br />
	  Lijun Zhao, Anhong Wang, Bing Zeng, <strong>Jian Jin</strong><br />
	   KSII Transactions on Internet and Information Systems (<strong>KSII</strong>), 2015<br />
	   <a href="http://www.kpubs.org/article/articleDownload.kpubs?downType=pdf&articleANo=E1KOBZ_2015_v9n10_4108">[PDF]</a>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Synthesis-Aware Region-Based 3D Video Coding</strong><br />
	  Zhiwei Xing, Anhong Wang, <strong>Jian Jin</strong>, Yingchun Wu<br />
	   Pacific Rim Conference on Multimedia  (<strong>PCM</strong>), 2015<br />
	   <a href="https://link.springer.com/chapter/10.1007/978-3-319-24078-7_40">[PDF]</a>
	</p>
  </div>
</div>
	

	
